/projects/LumixRayTracer/Debug
/projects/LumixRayTracer/Win32
/projects/LumixRayTracer/raytracer.dir
/projects/LumixRayTracer/LumixRayTracer.opensdf
/projects/LumixRayTracer/math.dir
/projects/LumixRayTracer/LumixRayTracer.sdf
/projects/LumixRayTracer/LumixRayTracer.v12.suo
/projects/LumixRayTracer/ipch
/projects/LumixRayTracer/*.user
/projects/LumixRayTracer/Release
/projects/LumixRayTracer/unit_tests.dir
